*{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Lora', serif;

}
html, body {
    width: 100%;
    height: 100%;
}
{
    background-image: url("/images/wallpaper.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: contain;
    z-index: -.background100;
    filter: blur(1px);
}
.background::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
nav{
    width: 100%;
    height: 40px;
    position:fixed;
    top: 0;
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(4, 0, 250, 0.685);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.logo{
    height: 100%;
    font-size:30px;
    float:left;
}
nav li {
    float: right;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4.5px 40px;
    position:relative;
    right: 0px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #111;
}
.active {
    background-color: #00000067;
    font-weight: bold;
    padding: 5px 10px;
    color:rgb(255, 255, 255);
}
.title{
    width: 50%;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    margin: auto;
    transform: translateY(90px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.title span{
    color: rgb(223, 223, 223);
    font-size: 40px;
    font-family: 'Libre Caslon Text', serif;
}
.container {
    width: 100%;
    height: 438px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    position: relative;
    top: 18%;
}
.container .tarjet{
    width: 230px;
    min-width: 230px;
    height: 310px;
    min-height: 310px;
    border: 8px;
    overflow: hidden;
    margin:20px;
    position: relative;
    text-align: center;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 8px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}
.container .tarjet:hover{
    transform: translateY(-10px);
    width:240px;
    height: 305px;
    background-color: rgba(253, 253, 253, 0.9);
    box-shadow: -10px 10px 5px rgba(20, 20, 20, 0.774);

}
.container .tarjet img{
    width: 100%;
    height: 150px;
}
.container .tarjet h4{
    font-weight: 600;
    font-family: 'Libre Caslon Text', serif;
}
.container .tarjet p{
    padding: 0.2rem;
    font-size: 23px;
    font-weight: 300;
    font-family: 'Markazi Text', serif;

}
.container .tarjet a{
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 17, 255);
    font-size: 20px;

}
.no_activity_tarjet{
    filter: blur(1px);
}

.container .no_activity_tarjet:hover{
    filter: blur(0px);
    background-color: rgba(122, 122, 122, 0.99);
}

.earthdaybackground{
    background-image: url("/pagsciencias/imgsciencias/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -100;
    filter: blur(1px);
    position: fixed;
    top: 43px;
}
.earthdaybackground::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.1);
}
.menu_earth_day{
    background-color: black;
    height: 44px;
    box-shadow: 2px 2px 10px black;
}
.colum{
    width: 75%;
    height:auto;
    margin:auto;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.8);
}
.info_container{
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 50px 50px;
}
.info_container p{
    display:inline-block;
    color: white;
    width: 200px;
    background:rgba(185, 185, 185, 0.239);
    text-align:center;

}
.title_article{
    margin: 0px 50px;
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Merriweather', serif;
}

.art_image1{
    width: 500px;
    margin: 50px;
    float: left;
}
.p_container{
    padding-bottom: 30px;
}
article p{
    margin: 50px;
    color:whitesmoke;
    font-size: 20px;
    letter-spacing: 2px;
}
.socialesbg{
    background-image: url("/pagssociales/imgs/socialesbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100;
    filter: blur(1px);
}
.socialesbg::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}
.colombiabg{
    background-image: url("/pagssociales/imgs/colombiabg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    z-index: -100;
    filter: blur(1px);
    position: fixed;
    top: 0;
}
.colombiabg::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.1);
}
.art_col1{
    width: 50%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 5px;
    float: left;
}
.art_col2{
    width: 50%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 5px;
    float: left;
}
